body
{
background:linear-gradient(to top, #E5EFB5 , DarkSalmon);
padding:0px 01px 0px 01px;
margin-left:05px;
margin:0px 0px 0px 0px;
}

.header
{ 
     background: linear-gradient(to top, #F8F9F9  , DarkSalmon);
	 width:100%;
	 height:30%;
	 margin:0px 0px 0px 0px;
	 padding:0px 00px 0px 00px;
}

.header1
{ 
     background: linear-gradient(to top, #F8F9F9  , DarkSalmon);
	 width:100%;
	 height:22%;
	 margin:0px 0px 0px 0px;
}

.title
{
	
	width:100%;
	
}

.logo
{
	width:130px;
	height:90px;
	border-radius:50%;
	margin-left:40px;
}

.Alogin
{
	font-weight:bold;
	font-size:15px;
	width:35%;
	margin: 5px 10px 5px 410px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	padding:10px 5px 10px 5px;
	border-radius:5px;
	border:2px outset #17202A;
} 

.btton
{
    background-color:#34495E;
    color:white;
    font-size:15px;
	margin:3px 0px 0px 140PX;
	width:80px;
	height:25px;	
}  	
	
ul.L1
{
  padding:0px;
  list-style:NONE;
  overflow:hidden;
  border:2px ridge khaki;
  background-color:khaki;
  width:1344px;
  margin:1px 4px 0px 0px;
}

li a
{  
  
  text-align:center;      
  display:block;     /*display: block; - Displaying the links as block elements makes the whole link area clickable*/
  width:260px;       /*To specify the length of horizontal navigation*/
  height:30px;
  font-size:21px;
  color:black;
  padding:10px 0px 05px 0px;    /* T R B L*/
 
}

LI a:link
{
    color: Black;
    text-decoration: none;   
}

/*li a:visited
{
  color:DarkViolet;
}*/

li a:hover                      /* To change the color when cursor moves over it */
{
  background-color:gray;
  color:white;
}

li a:active
{
  background-color:none;
  color:red;
}

li.k
{
  float:left;               /*To make the navigation bar horizontal*/
  border-right:2px ridge khaki;
}

li.k:last-child
{
  border-right:none;
}

marquee
{
	margin:0px 10px 0px 10px;
}

H1				
{
  line-height:0.9px;
  margin-left:75px;
}

.marque
{
  color:Navy;
  font-family:auto;
  font-style:italic;
  font-size:20px;
  text-shadow:1px 1px 2px white, 0 0 25px white;
}

.text
{
   width:650px;
   float:left;
   font-family:Gabriola;
   font-size:25px;
   font-weight:bold;
   font-style:italic;
   padding:0px 50px 0px 0px; 
   margin:0px 50px 30px 30px;
}

.accotext
{
   
   float:left;
   font-family:High Tower Text;
   font-size:23px;
   font-weight:bold;
   margin:30px 10px 100px 10px;
   
}

.user
{
  float:right;
  color:blue;
  font-family:auto;
  font-style:italic;
  font-weight:bold;
  font-size:17px;
  text-shadow:1px 1px 2px white, 0 0 25px white;
}


.x
{
  width:480;
  height:360px;
  border-radius: 10px;
  box-shadow:5px 5px 3px black;
}

.y
{
 
  width:700px;
  height:400px;
  border:2px solid yellow;
  box-shadow:5px 5px 3px black;
  margin-left:300px;
}

.notice
{
	font-weight:bold;
	font-size:25px;
	text-align:center;
}
table.table1{
  width: 80%;
  height:70%;
  border-collapse:collapse;
  font-size:20px;
  margin-left:100px;
}

table.table{
  width: 50%;
  height:50%%;
  border-collapse:collapse;
  font-size:20px;
  
}

.button
{
	padding:10px 10px 10px 10px;
	font-size:25px;
	background-color:red;
	color:white;
	text-decoration:none;
	text-align:center;
	margin:0px 0px 20px 590px;
    border-radius:10px;	
}

.vacc
 {
	 font-size:33px;
	 /*margin:20px 0px 0px 50px;*/
	 text-align:center;
 }



  
   table.t_data {
    border-collapse: collapse;
    width:70%;
	font-family:High Tower Text;
	font-size:28px;
	margin:20px 10px 10px 230px;   /* T R B L(clockwise)*/
	
}

table.t_data th, table.t_data td {
	
    padding: 8px;
    text-align:center;
	
    border-bottom: 1px groove black;
}

table.t_data1 {
	border:1px solid black;
    border-collapse: collapse;
    width:70%;
	font-family:Times New Roman;
	font-size:22px;
	margin:20px 10px 10px 220px;   /* T R B L(clockwise)*/
	
	
}

table.t_data1 th{
	background-color:#6bb300;
	padding: 15px;
	border:1px solid black;
    text-align:center;
}

table.t_data1 td{
	
    padding:15px;
	border:1px solid black;
    text-align:left;
    /*border-bottom: 1px groove black;*/
}

table.t_data1 tr:nth-child(odd){background-color:#c2ff66;}
table.t_data1 tr:nth-child(even){background-color:#ebffcc;}

.chekin
{
	border:1px solid white;
	border-radius:20px;
	box-shadow:0 15px 20px gray;
	background:linear-gradient(to top,#ffd89b,#19547b);
	padding:10px 5px 30px 100px;
	margin:10px 10px 50px 230px;
	width:780px;
	
}
   
 .input
 {
	 font-size:17px;
 }

                                                  /*Inside Admin*/
.inside_admin
{
	font-size:17px;
	font-weight:bold;
	background-color:green;
	color:white;
	vertical-align:center;
	text-align:center;
	width:500px;
	height:100px;
	margin:20px 100px 30px 0px;
}

.inside_uacc
{
	font-size:22px;
	font-weight:bold;
	background-color:green;
	color:white;
	vertical-align:center;
	text-align:center;
	width:500px;
	height:100px;
	margin:50px 100px 30px 0px;
}

.btton1
{
    background-color:#332957  ;
    color:white;
    font-size:15px;
	margin-left:50PX;
	margin-top:5px;
	width:100px;
	height:30px;
}

.login_div
{
   background:linear-gradient(to top,#c79081,#dfa579);
   width:30%;
   height:40%;
   margin:90px 0px 0px 470px;
   box-shadow:0 20px 20px black;
   border-radius:10px;
} 

.input_box
{
	 border-radius:5px;
	 height:30px;
	 border:1px solid black;
}

.userinfo
{
 
 border-radius:20px;
 background:linear-gradient(to top,#de6262,#ffb88c);
 width:700px;
 height:570px;
 margin:50px 0px 0px 330px;
 padding:40px 0px 0px 0px;
 box-shadow:0 5px 10px gray;
}	

.footer
{
	overflow:hidden;
    text-align:center;
    color:gray;
    font-size:15px;
    opacity:0.5;
    bottom:0px;
    height:30px;
	margin-top:80px;
}

